<ol>
  <li>
    Add a Input field which updates a property ('username') via Two-Way-Binding
  </li>
  <li>
    Output the username property via String Interpolation (in a paragraph below
    the input)
  </li>
  <li>
    Add a button which may only be clicked if the username is NOT an empty
    string
  </li>
  <li>
    Upon clicking the button, the username should be reset to an empty string
  </li>
</ol>
<hr />
<div class="col-xs-12">
  <label>Username:</label>
  <input type="text" [(ngModel)]="username" (input)="onUsernameInput($event)" />

  <p>Hello {{ username }}</p>

  <!-- option one button -->
  <!-- <button
    class="btn btn-primary"
    [disabled]="!usernameExists"
    (click)="resetUsername()"
    >
    Reset Username
  </button> -->

  <!-- option 2 button -->
  <button
    class="btn btn-primary"
    [disabled]="username === ''"
    (click)="username = ''"
  >
    Reset Username
  </button>
</div>
